body{
    background-image: url(images/doc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#loginForm{
   margin-top: 15%;
   margin-left: 40%;
   width: 16%;
   padding: 2%;
   border: 2px solid grey;
   border-radius: 15px;
   background-color: rgb(5, 77, 129);
}

.inputSize{
    width: 90%;
 }
 
 #submit{
    margin-top: 5%;
   
}